body {
  background: url("../../zdjecia/tlo.png") center fixed no-repeat;
  background-size: cover;
  font-size: 20px;
  text-align: center;
}

#gora {
  top: 0;
  margin: 0;
  position: relative;
  float: left;
  width: 95.5%;
  padding: 2%;
}

#panelPrawa {
  float: right;
  width: 40%;
  animation-name: ladowanieopacti;
  animation-duration: 2s;
  display: none;
}

#panelLewa {
  float: left;
  margin-top: -10px;
  text-align: center;
  animation-name: ladowanieopacti;
  animation-duration: 2s;
}

#panelPrawaMobile {
  float: right;
  width: 40%;
  animation-name: ladowanieopacti;
  animation-duration: 2s;
  display: block;
}

#leweOkno {
  float: left;
  background-color: rgba(19, 51, 19, 0.534);
  margin-left: 5%;
  padding: 1%;
  border-radius: 5px 5px;
  border-style: solid;
  width: 40%;
  animation-name: ladowanieopacti;
  animation-duration: 2s;
}

#praweOkno {
  float: right;
  background-color: rgba(19, 51, 19, 0.534);
  margin-right: 5%;
  padding: 1%;
  border-radius: 5px 5px;
  border-style: solid;
  width: 30%;
  animation-name: ladowanieopacti;
  animation-duration: 2s;
}

.text-gora {
  float: right;
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin-right: 5%;
  transition: font-size 1s;
}

.text-gora:hover {
  font-size: 30px;
}

.small-text {
  font-size: 14px;
  transition: font-size 1s;
}

.small-text:hover {
  font-size: 16px;
}

.button {
  background-color: black;
  width: 75px;
  padding: 2%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 10px 10px;
}

.font {
  font-size: 45px;
  transition: font-size 1s;
}

.font:hover {
  font-size: 50px;
}

.just {
  text-align: justify;
}

.bold {
  font-weight: bold;
}

.font-regular {
  font-size: 12px;
}

.font-big {
  font-size: 20px;
}

.font-smile {
  font-size: 12px;
}

.font-center {
  text-align: center;
}
